{
  "env": {
    "build": {
      "presets": [["env", { "modules": false }], "stage-3"],
      "plugins": ["external-helpers"]
    },
    "buildProd": {
      "presets": [["env", { "modules": false }], "stage-3"],
      "plugins": [
        "external-helpers",
        [
          "transform-react-remove-prop-types",
          {
            "mode": "remove",
            "removeImport": true
          }
        ]
      ]
    },
    "es": {
      "presets": [["env", { "modules": false }], "stage-3"]
    },
    "commonjs": {
      "plugins": [["transform-es2015-modules-commonjs", { "loose": true }]],
      "presets": ["stage-3"]
    },
    "test": {
      "presets": ["env", "stage-3"]
    }
  }
}
